$color_contessa: #c56f6f;

.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;

  .icon {
    color: $color_contessa;
    margin-left: 3px;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }
}
