<h1>Labour cost report</h1>
<table *ngIf="tableData">
  <thead>
  <tr>
    <th><app-sortable [active]="sortColumn === 1" (onToggle)="sortByPayrollProvider($event)">Payroll provider</app-sortable></th>
    <th><app-sortable [active]="sortColumn === 2">Worker</app-sortable></th>
    <th><app-sortable [active]="sortColumn === 3">Compliance score</app-sortable></th>
    <th class="text-right"><app-sortable [active]="sortColumn === 4">Gross pay (&pound;)</app-sortable></th>
    <th class="text-right"><app-sortable [active]="sortColumn === 5">Payroll admin (&pound;)</app-sortable></th>
    <th class="text-right"><app-sortable [active]="sortColumn === 6">Labour cost (&pound;)</app-sortable></th>
    <th><app-sortable [active]="sortColumn === 7">Work force</app-sortable></th>
  </tr>
  </thead>
  <tbody>
  <ng-template [ngIf]="fixedTableRows">
    <tr *ngFor="let item of fixedTableRows">
      <th>{{ item.name }}</th>
      <td class="text-big">{{ item.workerCount | number }}</td>
      <td class="border-right"></td>
      <td class="text-big text-right">{{ item.grossPayTotal | number }}</td>
      <td class="text-right">{{ item.payrollAdminTotal }}</td>
      <td class="text-big darker text-right border-right">{{ item.labourCostTotal | number }}</td>
      <td>{{ item.workerCount | percent }}</td>
    </tr>
    <tr>
      <td colspan="7"></td>
    </tr>
  </ng-template>
  <tr *ngFor="let item of tableData">
    <th>{{ item.name }}</th>
    <td class="text-big">{{ item.workerCount | number }}</td>
    <td class="border-right"></td>
    <td class="text-big text-right">{{ item.grossPayTotal | number }}</td>
    <td class="text-right">{{ item.payrollAdminTotal }}</td>
    <td class="text-big darker text-right border-right">{{ item.labourCostTotal | number }}</td>
    <td>{{ item.workerCount | percent }}</td>
  </tr>
  </tbody>
</table>
