<h1>Labour cost report</h1>
<table *ngIf="data$ | async as data">
  <thead>
  <tr>
    <th><span>Payroll provider</span></th>
    <th><span>Worker</span></th>
    <th><span>Compliance score</span></th>
    <th><span class="pull-right">Gross pay (&pound;)</span></th>
    <th><span class="pull-right">Payroll admin (&pound;)</span></th>
    <th><span class="pull-right">Labour cost (&pound;)</span></th>
    <th><span>Work force</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data.items">
    <th>{{ item.name }}</th>
    <td class="text-big">{{ item.workerCount | number }}</td>
    <td class="border-right"></td>
    <td class="text-big text-right">{{ item.grossPayTotal | number }}</td>
    <td class="text-right">{{ item.payrollAdminTotal }}</td>
    <td class="text-big darker text-right border-right">{{ item.labourCostTotal | number }}</td>
    <td>{{ item.workerCount | percent }}</td>
  </tr>
  </tbody>
</table>
